@import url('https://fonts.googleapis.com/css?family=Pacifico');

.background{
    display: flex;
    height: 100%;
    padding: 0;
    background:  url(./bg.png) no-repeat center center fixed; 
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.corpo{
    margin-left: 430px;
    justify-content: center;
    align-content: center;
    width: 900px;
    height: 100%;
    background-color: #ffffff;
    background: rgba(255,255,255, 0.8);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px 0 rgba(223, 211, 211, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

img{
    margin-top: 100px;
    width: 100%;
    height: 300px;
}

.title{
    margin-top: 20px;
}

.title h1{
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    color: #FF4136;
}


.text{
    margin-top:50px;
    margin-bottom: 100px;
}